body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container{
    display: flex;
    justify-content: center;
}
.container > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.game-container .flex {
    display: flex;
    justify-content: center;
}

.game-container .flex .flex-child {
     width: 40px;
     height: 40px;
     display: flex;
     background-color: #b8b8b8;
     border: 1px solid #6c6c6c;
 }

.game-container .flex .flex-child.selected {
    background-color: #2575b8;
    cursor: pointer;
}

.game-container .flex .flex-child.user {
    background-color: #67b841;
}

.game-container .flex .flex-child.computer {
    background-color: #b8574e;
}
